
<div class="row">

  <div class="offset-3 col-sm-6">

      <form>
          <div class="form-row">
              <p><b>I am leaving this field here, but perhaps we could implement an ID creator.</b></p>
              <div class="col">
                  <input type="text" class="form-control" placeholder="ID">
              </div>
          </div>

          <div class="form-row">
              <div class="col">
                  <input type="text" class="form-control" placeholder="Item name">
              </div>
          </div>

          <div class="form-row">
              <div class="col">
                  <input type="number" class="form-control" placeholder="Quantity">
              </div>
          </div>

          <div class="form-row">
              <div class="offset-3 col-sm-4">
                  <button type="button" name="button" class="btn btn-outline-primary">Ok</button>
              </div>

              <div class="col-sm-4">
                  <button type="submit" class="btn btn-success">Submit</button>
              </div>
          </div>


      </form>

  </div>

</div>
